<!DOCTYPE html>
<html>
<head>
  <title>INFORE UC1</title>
  <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet">
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/6.6.2/d3.min.js" integrity="sha512-L2eTGYYQqzK5YozYyUVrJKj2ZRnHE3QzV1+1yY6VXHExStF3potRZyEcD/B6sTOe04xYxB21QNLmVTQFcgwovg==" crossorigin="anonymous"></script> -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-chart-box-and-violin-plot/2.4.0/Chart.BoxPlot.min.js" integrity="sha512-wThQu2PZG8h1zgYe9HNYAblGSRzSeZ7g584vrTiizIZJHw7gG1LCDZsLy/YHVnw3lp7pXXNJNa4ilECz1DiqPA==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js" integrity="sha512-UXumZrZNiOwnTcZSHLOfcTs0aos2MzBWHXOHOuB0J/R44QB0dwY5JgfbvljXcklVf65Gc4El6RjZ+lnwd2az2g==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/0.7.7/chartjs-plugin-zoom.min.js" integrity="sha512-8E9fPF4pjWxI0dpprpn4WYeciAMo2kh6xN0COFxvTfurMttjZzih/sBp+Fxu49Zr6IUSp4sqWY6KLecnqOCwxA==" crossorigin="anonymous"></script>
<script src="https://cdn.plot.ly/plotly-1.54.6.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" />
<!-- <script src='https://cdn.plot.ly/plotly-latest.min.js'></script> 
<script src="https://d3js.org/d3.v4.js"></script>-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
  <style>
    .faded {
      opacity: 0;
      transition: opacity 1s;
    }
  </style>


  <script type="text/javascript">
    // /* CONFIRM EXIT */
    // window.onbeforeunload = function(e) {
    //   return "Do you really want to exit?";
    // };

    var ws;
    var reqstr1 = "http://localhost:5004/api/v1/listscripts";
    var reqstr2 = "http://localhost:5004/api/v1/listinput";
    var reqstr3 = "http://localhost:5004/api/v1/listconfig";
    var reqstr4 = "http://localhost:5004/api/v1/run";
    var reqstr5 = "http://localhost:5004/api/v1/interimstates";
    var reqstr6 = "http://localhost:5004/api/v1/galogs";
    var resp;
    var chart1;
    var chart2;
    var threedplotrange;


    function init() {
      var ul = document.getElementById("ct");
      fetch(reqstr1)
      .then(res => {return res.json()})
      .then(data => {/*output("Request complete! response:" + data); */resp=data;
        resp.forEach(function (item) {
          var el = document.createElement("option");
          var b = item.split('/');
          el.textContent = b[2];
          el.value = b[2];
          ul.appendChild(el);
        });
      }).catch(error => {showAlert(error,"alert-danger")});

      var ul2 = document.getElementById("ct2");
      fetch(reqstr2)
      .then(res => {return res.json()})
      .then(data => {/*output("Request complete! response:" + data); */resp=data;
        resp.forEach(function (item) {
          var el = document.createElement("option");
          var b = item.split('/');
          el.textContent = b[2];
          el.value = b[2];
          ul2.appendChild(el);
        });
      }).catch(error => {showAlert(error,"alert-danger")});

      var ul3 = document.getElementById("ct3");
      fetch(reqstr3)
      .then(res => {return res.json()})
      .then(data => {/*output("Request complete! response:" + data); */resp=data;
        resp.forEach(function (item) {
          var el = document.createElement("option");
          var b = item.split('/');
          el.textContent = b[2];
          el.value = b[2];
          ul3.appendChild(el);
        });
      }).catch(error => {showAlert(error,"alert-danger")});

      var ul4 = document.getElementById("ct4");
      fetch(reqstr5)
      .then(res => {return res.json()})
      .then(data => {/*output("Request complete! response:" + data); */resp=data;
        resp.forEach(function (item) {
          var el = document.createElement("option");
          // var b = item.split('/');
          el.textContent = item;
          el.value = item;
          ul4.appendChild(el);
        });
      }).catch(error => {showAlert(error,"alert-danger")});

      var ul5 = document.getElementById("ct5");
      fetch(reqstr6)
      .then(res => {return res.json()})
      .then(data => {/*output("Request complete! response:" + data); */resp=data;
        resp.forEach(function (item) {
          var el = document.createElement("option");
          // var b = item.split('/');
          el.textContent = item;
          el.value = item;
          ul5.appendChild(el);
        });
      }).catch(error => {showAlert(error,"alert-danger")});
      showAlert("Connected and Loaded!","alert-success");

      showAlert("Connected and Loaded!","alert-success");
    }


    function onSubmit() {
      var scriptname = document.getElementById("ct");
      var inputfile = document.getElementById("ct2");
      var conffile = document.getElementById("ct3");
      var expname = document.getElementById("expname");
      var interimres = document.getElementById("ct4");
      data = {scriptname:scriptname.value, expname:expname.value, inputfile:inputfile.value, conffile:conffile.value, interimresults:interimres.options[interimres.selectedIndex].value};
      fetch(reqstr4, {
        method: "POST", 
        body: JSON.stringify(data)})
        .then(res => {return res.json()})
        .then(resd => {
          showAlert(resd, "alert-success");
        }).catch(error => {showAlert(error,"alert-danger")});
    }


    function onUpload() {
      var reqstr5 = "http://localhost:5004/api/v1/upload"
      let file = document.getElementById("myFile").files[0];
      let formData = new FormData();
      var ul = document.getElementById("ct");

      formData.append("file", file);
      fetch(reqstr5, {method: "POST", body: formData})
      .then(res1 => {return res1.json()})
      .then(data1 => {showAlert(data1,"alert-info"); fetch(reqstr1)
              .then(res => {return res.json()})
              .then(data => {/*output("Request complete! response:" + data); */resp=data;
                ul.innerHTML = "";
                resp.forEach(function (item) {
                var el = document.createElement("option");
                var b = item.split('/');
                el.textContent = b[2];
                el.value = b[2];
                ul.appendChild(el);
              });
              }).catch(error => {showAlert(error,"alert-danger")})})
      .catch(error => {showAlert(error,"alert-danger")});
    }
    
    function runTerm() {
      var reqstr5 = "http://localhost:5004/api/v1/termrun"
      let cmd = document.getElementById("cmd").value;
      fetch(reqstr5, {method: "POST", body: cmd})
      .then(res1 => {return res1.text()})
      .then(data1 => {showAlert(data1,"alert-info");
        output(data1);
      })
      .catch(error => {showAlert(error,"alert-danger")});
    }
    
    function transpose(matrix) {
      return matrix[0].map((col, i) => matrix.map(row => row[i]));
    }

    function updateScriptDesc(){
      var temp = document.getElementById("ct");
      var temp1 = document.getElementById("scriptdesc");
      switch (temp.value){
        case "swift_run_eqpy.sh":
          temp1.innerHTML = "Run GA workflow for drug policy optimization.";
          var x = document.getElementById("ct3d");
          x.style.display = "block";
          break;
        case "swift_run_eqpy_compare.sh":
          temp1.innerHTML = "Run GA for simulator calibration.";
          var x = document.getElementById("ct3d");
          x.style.display = "block";
          break;
        case "swift_run_sweep.sh":
          temp1.innerHTML = "Run sweep search.";
          var x = document.getElementById("ct3d");
          var y = document.getElementById("ct3").options;
          for(var i = 0; i < y.length; i++){
            y[i].selected = false;
          }
          x.style.display = "none";
          break;
        case "swift_run_eqpy_rand.sh":
          temp1.innerHTML = "Run Active Learning workflow for parameter space characterization.";
          var x = document.getElementById("ct3d");
          x.style.display = "none";
          break;
        case "swift_run_eqpy_rand_compare.sh":
          temp1.innerHTML = "(Not verified yet!) Run Active Learning workflow for simulator calibration.";
          var x = document.getElementById("ct3d");
          x.style.display = "none";
          break;
        default:
          temp1.innerHTML = "Select an experiment type!";
          break;
      }
    }

    // TODO
    function updateLogs(){
      var expname = document.getElementById("ct5");
      if (expname.value!=""){

        var reqstr = "http://localhost:5004/api/v1/getexpdetails/"+expname.value.split('/')[2];
        fetch(reqstr)
        .then(res1 => {return res1.json()})
        .then(data1 => {
          document.getElementById("expinfo").innerHTML=data1.toString().replace("\", \"","\n").replace("\", \"","\n");
          
        })
        .catch(error => {showAlert(error,"alert-danger")});



        var reqstr6 = "http://localhost:5004/api/v1/getlogs/"+expname.value.split('/')[2];
        fetch(reqstr6)
        .then(res1 => {return res1.json()})
        .then(data1 => {
          // showAlert(data1,"alert-info");
          toplot=data1.split('\", \"');
          d = [];
          var arrayLength = toplot.length;
          for (var i = 0; i < arrayLength; i++) {
              d[i] = parseFloat(toplot[i].replace("[\"",""));
          }  
          var canvas = document.createElement('canvas');
          var cont = document.getElementById('graph-container');
          var old = document.getElementById('myChart');
          document.getElementById('explabel').innerHTML = expname.value.split('/')[2];
          old.remove();
          canvas.id = "myChart";
          cont.appendChild(canvas);
          var ctx = document.getElementById('myChart').getContext('2d');
          chart1 = new Chart(ctx, {
              // The type of chart we want to create
              type: 'bar',

              // The data for our dataset
              data: {
                  labels: [...Array(d.length).keys()],
                  datasets: [{
                      label: 'Best Score', //TODO fix label with distance type
                      backgroundColor: 'rgb(0, 0, 0)',
                      borderColor: 'rgb(0, 0, 0)',
                      data: d
                  }]
              },
              // Configuration options go here
              options: {
                responsive: true,
                scales: {
                  xAxes: [{
                      scaleLabel: {
                        display: true,
                        labelString: 'Generation'
                      }
                  }],
                  yAxes: [{
                      scaleLabel: {
                        display: true,
                        labelString: 'Score'
                      }
                  }]
                },
            
              plugins: {
                zoom: {
                  // Container for pan options
                  pan: {
                   // Boolean to enable panning
                   enabled: false,

                   // Panning directions. Remove the appropriate direction to disable
                   // Eg. 'y' would only allow panning in the y direction
                   // A function that is called as the user is panning and returns the
                   // available directions can also be used:
                   //   mode: function({ chart }) {
                   //     return 'xy';
                   //   },
                   mode: 'xy',

                   // Which of the enabled panning directions should only be available
                   // when the mouse cursor is over one of scale.
                   overScaleMode: 'xy',

                   rangeMin: {
                    // Format of min pan range depends on scale type
                    x: null,
                    y: null
                   },
                   rangeMax: {
                    // Format of max pan range depends on scale type
                    x: null,
                    y: null
                   },

                   // On category scale, factor of pan velocity
                   speed: 20,

                   // Minimal pan distance required before actually applying pan
                   threshold: 10,

                   // Function called while the user is panning
                   // onPan: function({chart}) { console.log(`I'm panning!!!`); },
                   // // Function called once panning is completed
                   // onPanComplete: function({chart}) { console.log(`I was panned!!!`); },
                   // // Function called when pan fails because modifier key was not detected.
                   // // event is the a hammer event that failed - see https://hammerjs.github.io/api#event-object
                   // onPanRejected: function({chart, event}) { console.log(`I didn't start panning!`); }
                  },

                  // Container for zoom options
                  zoom: {
                   // Boolean to enable zooming
                   enabled: true,

                   // Enable drag-to-zoom behavior
                   drag: true,

                   // Drag-to-zoom effect can be customized
                   // drag: {
                   //   borderColor: 'rgba(225,225,225,0.3)'
                   //   borderWidth: 5,
                   //   backgroundColor: 'rgb(225,225,225)',
                   //   animationDuration: 0
                   // },

                   // Zooming directions. Remove the appropriate direction to disable
                   // Eg. 'y' would only allow zooming in the y direction
                   // A function that is called as the user is zooming and returns the
                   // available directions can also be used:
                   //   mode: function({ chart }) {
                   //     return 'xy';
                   //   },
                   mode: 'xy',

                   // Which of the enabled zooming directions should only be available
                   // when the mouse cursor is over one of scale.
                   overScaleMode: 'xy',

                   rangeMin: {
                    // Format of min zoom range depends on scale type
                    x: null,
                    y: null
                   },
                   rangeMax: {
                    // Format of max zoom range depends on scale type
                    x: null,
                    y: null
                   },

                   // Speed of zoom via mouse wheel
                   // (percentage of zoom on a wheel event)
                   speed: 1,

                   // Minimal zoom distance required before actually applying zoom
                   threshold: 2,

                   // On category scale, minimal zoom level before actually applying zoom
                   sensitivity: 3,

                   // // Function called while the user is zooming
                   // onZoom: function({chart}) { console.log(`I'm zooming!!!`); },
                   // // Function called once zooming is completed
                   // onZoomComplete: function({chart}) { console.log(`I was zoomed!!!`); },
                   // // Function called when wheel input occurs without modifier key
                   // onZoomRejected: function({chart, event}) { console.log(`I didn't start zooming!`); }
                  }
                 }
                }
              }
          });
        })
        .catch(error => {showAlert(error,"alert-danger")});

      var reqstr6 = "http://localhost:5004/api/v1/getgalogbook/"+expname.value.split('/')[2];
        fetch(reqstr6)
        .then(res1 => {return res1.json()})
        .then(data1 => {
          // showAlert(data1,"alert-info");
          d = [];
          toplot=data1.split('], [');
          var arrayLength = toplot.length;
          for (var i = 0; i < arrayLength; i++) {
              toplot[i] = toplot[i].replace("[","").replace("]","");
              toplot[i] = toplot[i].replace("\"","");
              // console.log(toplot[i]);
              d[i] = toplot[i].replace("[","").replace("]","").split("\", \"").map(Number);//parseFloat(toplot[i].split(", "));
          }  
          var canvas = document.createElement('canvas');
          var cont = document.getElementById('graph-container2');
          var old = document.getElementById('myChart2');
          old.remove();
          canvas.id = "myChart2";
          cont.appendChild(canvas);
          var ctx = document.getElementById('myChart2').getContext('2d');
          chart2 = new Chart(ctx, {
              // The type of chart we want to create
              type: 'boxplot',

              // The data for our dataset
              data: {
                  labels: [...Array(d.length).keys()],
                  datasets: [{
                      label: 'Scores', //TODO fix label with distance type
                      backgroundColor: 'rgba(255,0,0,0.5)',
                      borderColor: 'rgb(0, 0, 0)',
                      data: d
                  }]
              },
              // Configuration options go here
              options: {
                responsive: true,
                scales: {
                  xAxes: [{
                      scaleLabel: {
                        display: true,
                        labelString: 'Generation'
                      }
                  }],
                  yAxes: [{
                      scaleLabel: {
                        display: true,
                        labelString: 'Score'
                      }
                  }]
                },
             
              plugins: {
              zoom: {
                // Container for pan options
                pan: {
                 // Boolean to enable panning
                 enabled: false,

                 // Panning directions. Remove the appropriate direction to disable
                 // Eg. 'y' would only allow panning in the y direction
                 // A function that is called as the user is panning and returns the
                 // available directions can also be used:
                 //   mode: function({ chart }) {
                 //     return 'xy';
                 //   },
                 mode: 'xy',

                 // Which of the enabled panning directions should only be available
                 // when the mouse cursor is over one of scale.
                 overScaleMode: 'xy',

                 rangeMin: {
                  // Format of min pan range depends on scale type
                  x: null,
                  y: null
                 },
                 rangeMax: {
                  // Format of max pan range depends on scale type
                  x: null,
                  y: null
                 },

                 // On category scale, factor of pan velocity
                 speed: 20,

                 // Minimal pan distance required before actually applying pan
                 threshold: 10,

                 // // Function called while the user is panning
                 // onPan: function({chart}) { console.log(`I'm panning!!!`); },
                 // // Function called once panning is completed
                 // onPanComplete: function({chart}) { console.log(`I was panned!!!`); },
                 // // Function called when pan fails because modifier key was not detected.
                 // // event is the a hammer event that failed - see https://hammerjs.github.io/api#event-object
                 // onPanRejected: function({chart, event}) { console.log(`I didn't start panning!`); }
                },

                // Container for zoom options
                zoom: {
                 // Boolean to enable zooming
                 enabled: true,

                 // Enable drag-to-zoom behavior
                 drag: true,

                 // Drag-to-zoom effect can be customized
                 // drag: {
                 //   borderColor: 'rgba(225,225,225,0.3)'
                 //   borderWidth: 5,
                 //   backgroundColor: 'rgb(225,225,225)',
                 //   animationDuration: 0
                 // },

                 // Zooming directions. Remove the appropriate direction to disable
                 // Eg. 'y' would only allow zooming in the y direction
                 // A function that is called as the user is zooming and returns the
                 // available directions can also be used:
                 //   mode: function({ chart }) {
                 //     return 'xy';
                 //   },
                 mode: 'xy',

                 // Which of the enabled zooming directions should only be available
                 // when the mouse cursor is over one of scale.
                 overScaleMode: 'xy',

                 rangeMin: {
                  // Format of min zoom range depends on scale type
                  x: null,
                  y: null
                 },
                 rangeMax: {
                  // Format of max zoom range depends on scale type
                  x: null,
                  y: null
                 },

                 // Speed of zoom via mouse wheel
                 // (percentage of zoom on a wheel event)
                 speed: 1,

                 // Minimal zoom distance required before actually applying zoom
                 threshold: 2,

                 // On category scale, minimal zoom level before actually applying zoom
                 sensitivity: 3,

                 // // Function called while the user is zooming
                 // onZoom: function({chart}) { console.log(`I'm zooming!!!`); },
                 // // Function called once zooming is completed
                 // onZoomComplete: function({chart}) { console.log(`I was zoomed!!!`); },
                 // // Function called when wheel input occurs without modifier key
                 // onZoomRejected: function({chart, event}) { console.log(`I didn't start zooming!`); }
                }
               }
              }
            }
          });
        })
        .catch(error => {showAlert(error,"alert-danger")});

        var reqstr6 = "http://localhost:5004/api/v1/getga3d/"+expname.value.split('/')[2]+"/max";
        fetch(reqstr6)
        .then(res1 => {return res1.json()})
        .then(data1 => {
          d=[];
          toplot=data1.split('], [');
          var arrayLength = toplot.length;
          for (var i = 0; i < arrayLength; i++) {
            // console.log(toplot[i]);
            // toplot[i] = toplot[i].replace("[","").replace("]","");
            // toplot[i] = toplot[i].replace("\"","");
            d[i] = toplot[i].replace('[[','').replace(/"/g,'').replace(']]','').split(', ').map(Number);//parseFloat(toplot[i].split(", "));
            // console.log(d[i]);
          }  
          
          b = JSON.parse(JSON.stringify(d[3]));
          b.sort((a,b) => a-b);
          // Determine min/max of axes
          x1 = JSON.parse(JSON.stringify(d[0]));
          // x2 = d[0];
          x1.sort((a,b) => a-b);
          // x2.sort((a,b) => a-b);
          y1 = JSON.parse(JSON.stringify(d[1]));
          // y2 = d[1];
          y1.sort((a,b) => a-b);
          // y2.sort((a,b) => a-b);
          z1 = JSON.parse(JSON.stringify(d[2]));
          // z2 = d[2];
          z1.sort((a,b) => a-b);
          // z2.sort((a,b) => a-b);
          xmin = x1[1];
          xmax = parseFloat(x1[x1.length-1]);
          // console.log(xmin, xmax);
          // console.log(x1.join(','));
          // console.log(x1.join(','));
          ymin = y1[1];
          ymax = parseFloat(y1[y1.length-1]);
          // console.log(ymin, ymax);
          zmin = z1[1];
          zmax = parseFloat(z1[z1.length-1]);
          // console.log(zmin, zmax);
          threedplotrange = [[xmin, xmax],[ymin, ymax],[zmin, zmax]]
          var plotDiv = document.getElementById("plot");
            trace = {
                x:d[0],
                y:d[1],
                z:d[2],
                type: "scatter3d",
                mode: 'markers',
                text: d[3],
                marker: {
                    color: d[3],
                    colorscale: 'jet',
                    showscale:true
                    // cmin: b[0],
                    // cmax: parseFloat(b[b.length-1])
                },
                showscale: true,
                colorbar: {
                    z: 0
                },
            };

            var layout = {
                title: 'GA points',
                autosize: true,
                scene: {
                    xaxis:{ title: 'x: TNF Frequency'},
                            // range: [xmin,xmax]},
                            // autorange: true,},

                    yaxis:{ title: 'y: TNF Duration'},
                            // range: [ymin,ymax]},
                            // autorange: true,},

                    zaxis:{ title: 'z: TNF Concentration'},
                            // range: [zmin,zmax]}
                            // autorange: true,},
                },
                margin: {
                    l: 6.5,
                    r: 5.0,
                    b: 6.5,
                    t: 30,
                  },
                colorscale: 'jet',
                showscale: true,
            };
            var config = {responsive: true}
            Plotly.newPlot(plotDiv,[trace],layout,config);
            // console.log(b.join(','));
            document.getElementById("vol").min = b[0];
            document.getElementById("vol").max = parseFloat(b[b.length-1]);
            document.getElementById("vol").value = parseFloat(b[b.length-1]);
        })
        .catch(error => {showAlert(error,"alert-danger")});



        var reqstr6 = "http://localhost:5004/api/v1/getinds/"+expname.value.split('/')[2];
        fetch(reqstr6)
        .then(res1 => {return res1.json()})
        .then(data1 => {
          console.log(data1.split("], [").length);
          // var files = [];
          // data1.forEach(t => files.push(t.replace("../experiments/"+expname.value.split('/')[2]+"/figures/","").replace("ki_values.tsv","")));
          // console.log(files);
          // $('#individualstable').DataTable.destroy();
          $('#individualstable').DataTable( {
            destroy: true,
            data: transpose(JSON.parse(data1)),
            columns: [
              { title: "Name" },
              { title: "k5" },
              { title: "k6" },
              { title: "k7" },
              { title: "Score" },
              { title: "Details" },
            ]
          } );
          // d=[];
          // toplot=data1.split('], [');
          
        })
        .catch(error => {showAlert(error,"alert-danger")});



      }
    }


    function updateScatterPlot(expid, limit){
      var reqstr7 = "http://localhost:5004/api/v1/getga3d/"+expid+"/"+limit; //TODO
        fetch(reqstr7)
        .then(res1 => {return res1.json()})
        .then(data1 => {
          d=[];
          toplot=data1.split('], [');
          var arrayLength = toplot.length;
          for (var i = 0; i < arrayLength; i++) {
            d[i] = toplot[i].replace('[[','').replace(/"/g,'').replace(']]','').split(', ').map(Number);//parseFloat(toplot[i].split(", "));
            console.log(d[i]);
          }  
          var plotDiv = document.getElementById("plot");
          var trace = {
                x:[d[0]],
                y:[d[1]],
                z:[d[2]],
                text:[d[3]],
                marker: {
                    color: d[3],
                    colorscale: 'jet',
                    showscale:true
                },
                showscale: true,
                colorbar: {
                    z: 0
                  }
            };
            var layout = {
                title: 'GA points',
                autosize: true,
                scene: {
                    xaxis:{ title: 'x: TNF Frequency'},
                            // range: [xmin,xmax]},
                            // autorange: true,},

                    yaxis:{ title: 'y: TNF Duration'},
                            // range: [ymin,ymax]},
                            // autorange: true,},

                    zaxis:{ title: 'z: TNF Concentration'},
                            // range: [zmin,zmax]}
                            // autorange: true,},
                },
            };
            Plotly.update(plotDiv,trace,layout,0);
        })
        .catch(error => {showAlert(error,"alert-danger")});
    }

    // function randomValues(count, min, max) {
    //   const delta = max - min;
    //   return Array.from({length: count}).map(() => Math.random() * delta + min);
    // }

    function rangeChanged(){
        document.getElementById("vols").innerHTML = document.getElementById("vol").value;
        updateScatterPlot(document.getElementById("ct5").value.split('/')[2],document.getElementById("vol").value);
    }


    function getpng(id, values){
        var expname = document.getElementById("ct5");
        var reqstr8 = "http://localhost:5004/api/v1/getpng/"+ expname.value.split('/')[2] + '/'+ id; //TODO
        fetch(reqstr8)
        .then(res1 => {return res1.blob()})
        .then(blob => {
          // showAlert(data1,"alert-info");
          var div = document.createElement("div")
          div.id = id+"pngdiv";
          div.title = values;
          var imgtag = document.createElement("img");        
          
          imgtag.id = id+"png";
          imgtag.style.height = "100%";
          imgtag.style.width = "100%";
          var img = URL.createObjectURL(blob);
          imgtag.setAttribute('src', img);
          // var infoBox = new DialogBox(div);
          document.getElementsByTagName('body')[0].appendChild(div);
          document.getElementById(div.id).appendChild(imgtag);
          $('#'+div.id).dialog();
        })
        .catch(error => {showAlert(error,"alert-danger")});
    }

    function getcsv(id){
        var reqstr8 = "http://localhost:5004/api/v1/getcsv/"+id; //TODO
        fetch(reqstr8)
        .then(res1 => {return res1.json()})
        .then(data1 => {
          showAlert(data1,"alert-info");
           })
        .catch(error => {showAlert(error,"alert-danger")});
    }
    // function lockChanged(){
    //     // console.log("checked checkbox")
    //     check = document.getElementById("checklock");
    //     if (check.checked){
    //       console.log("checked checkbox");
    //       var plotDiv = document.getElementById("plot");
    //           // layout = {
    //           //       xaxis:{ range: threedplotrange[0], autorange: false},
    //           //       yaxis:{ range: threedplotrange[1], autorange: false},
    //           //       zaxis:{ range: threedplotrange[2], autorange: false},
    //           // };
    //       var update = {
    //           title: 'some new title', // updates the title
    //           'xaxis.range': [threedplotrange[0]], 
    //           'xaxis.autorange': false,  // updates the xaxis range
    //           'yaxis.range': [threedplotrange[1]], 
    //           'yaxis.autorange': false,     // updates the end of the yaxis range
    //           'zaxis.range': [threedplotrange[2]],
    //           'zaxis.autorange': false, 
    //       };
    //       Plotly.relayout(plotDiv, update)
    //       console.log([threedplotrange[0],threedplotrange[1],threedplotrange[2]])
    //           // Plotly.update(plotDiv,{},[layout],0);
    //     }
    //     else {
    //       updateScatterPlot(document.getElementById("ct5").value.split('/')[2],document.getElementById("vol").value);
    //       console.log("unchecked checkbox");
    //     }
    // }

    function showAlert(message, alertType){
      var temp = document.getElementById("notification");
      temp.innerHTML = message;
      temp.classList.add("alert");
      temp.classList.add(alertType);
      temp.classList.add("fade");
      temp.classList.add("show");
      setTimeout(function () {
        hideAlert();
      }, 3000);
    }

    function hideAlert(){
      var temp = document.getElementById("notification");
      temp.className = 'alert fade';
    }

    function AddZero(num) {
      return (num >= 0 && num < 10) ? "0" + num : num + "";
    }

    function datetimenow(){
      var now = new Date();
      var strDateTime = [[AddZero(now.getDate()), 
        AddZero(now.getMonth() + 1), 
        now.getFullYear()].join("/"), 
        [AddZero(now.getHours()), 
        AddZero(now.getMinutes())].join(":"), 
        now.getHours() >= 12 ? "PM" : "AM"].join(" ");
    return strDateTime;
    }

    function output(str) {
      var log = document.getElementById("log");
      var escaped = str.replace(/&/, "&amp;").replace(/</, "&lt;").
        replace(/>/, "&gt;").replace(/"/, "&quot;");
      log.innerHTML = "<small class=\"text-muted\">[" + datetimenow() + "]:</small> " + document.getElementById("cmd").value + '\n' + escaped + log.innerHTML + '\n<br/>';
    }

    // $(document).ready( function () {
    //   $('#individualstable').DataTable();
    // } );
  </script>
</head>
<body onload="init();">
  <div class="container-fluid">
  <h1>Bio Use-case: Interactive learning with GA - v0.1</h1>
  
  <div id="notification" class="alert fade" role="alert" style="position:fixed;top:0;right:0;width:50%;">
  </div>
  
  <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Main</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="graphs-tab" data-bs-toggle="tab" data-bs-target="#graphs" type="button" role="tab" aria-controls="graphs" aria-selected="false">Graphs</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#individuals" type="button" role="tab" aria-controls="profile" aria-selected="false">Individuals</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Terminal</button>
  </li>
</ul>


<div class="tab-content" id="myTabContent">
  <!--
      First Tab "MAIN"
  -->
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="row">
      <div class="col-6">
        <h3>Experiment type</h3>
        <select id="ct" size="6" onchange="updateScriptDesc()">
        </select>
        <div>
          <form onsubmit="onUpload(); return false;">
            <input type="file" id="myFile" name="filename">
            <input type="submit" value="Upload">
          </form>
        </div>
      </div>
      <div class="col-6">
        Description:
        <div id="scriptdesc">
        </div>
      </div>
    </div>
    
    <hr>
    
    <div class="row">
      <div class="col-6">
        <h3>Give your experiment a name</h3>
        <input type="text" id="expname" placeholder="Experiment Name">
      </div>
    </div>
    
    <hr>
    
    <div id="ct2d">
      Choose an input file:
      <select id="ct2" size="3">
      </select>
    </div>

    <hr>
    
    <div id="ct3d">
      Choose a configuration:
      <select id="ct3" size="3">
      </select>
    </div>

    <hr>

    Choose an interim state:
    <select id="ct4">
        <option></option>
    </select>

    <form onsubmit="onSubmit(); return false;">
      <input type="submit" value="Submit">
    </form>
  </div>

  <!--
      Second Tab "GRAPHS"
  -->
  <div class="tab-pane fade" id="graphs" role="tabpanel" aria-labelledby="graphs-tab">
    Select an experiment:
    <select id="ct5" onchange="updateLogs()">
        <option></option>
    </select>
    <pre id="expinfo">
    </pre>
    <div class=row>
      <div class="container-fluid" id="graph-container" style="width:50%;">
          <canvas id="myChart"></canvas><br/><input type="submit" value="Reset" onclick="chart1.resetZoom()">
      </div>
      <div class="container-fluid" id="graph-container2" style="width:50%;">
          <canvas id="myChart2"></canvas><br/><input type="submit" value="Reset" onclick="chart2.resetZoom()">
      </div>
    </div>
    <div class="row">
      <div class="container-fluid" id="graph-container3" style="width:80%;">
        <div id = "plot" style="background-color:white;"></div>
        <label for="vol">Fetch max score:</label>
        <input type="range" id="vol" name="vol" min="0" max="50" onchange="rangeChanged()">
        <label id="vols"></label>
        <!--<label for="vol">Lock axes</label>
        <input type="checkbox" id="checklock" onchange="lockChanged()">-->
      </div>
    </div>

  </div>

  <!--
      Third Tab "INDIVIDUALS"
  -->
  <div class="tab-pane fade" id="individuals" role="tabpanel" aria-labelledby="profile-tab">
  <!--<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>-->
    <div>
      <h2 id="explabel">
        select an experiment from Graphs tab
      </h2>
      <!-- <form onsubmit="runTerm(); return false;">
        <input type="text" id="cmd" name="cmd">
        <input type="submit" value="Run terminal commands">
      </form> -->
      <hr>
      <div id="inddetails">
        <table id="individualstable" class="display" width="100%"></table>
      </div>
      </pre>
    </div>
  </div>


  <!--
      Fourth Tab "TERMINAL"
  -->
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
  <!--<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>-->
    <div>
      <br/>
      <br/>
      <form onsubmit="runTerm(); return false;">
        <input type="text" id="cmd" name="cmd">
        <input type="submit" value="Run terminal commands">
      </form>
      <hr>
      <pre id="log" style="white-space: pre-wrap;width:100%;">
      </pre>
    </div>
  </div>

  </div>
</div>
</body>
</html>
